/*
 * Nextflow configuration file for WholeGenomeGermlineSingleSampleFastq pipeline
 */

// Default parameters
params {
    // Pipeline info
    name = "WholeGenomeGermlineSingleSampleFastq"
    version = "1.0.0-nf"
    
    // Help message
    help = false
    
    // Max resource options
    max_memory = 128.GB
    max_cpus = 16
    max_time = 240.h
    
    // Default output directory
    outdir = "results"
    
    // Container options
    singularity_cache_dir = null
    
    // Enable conda by default
    enable_conda = false
}

// Process resource requirements
process {
    withLabel: process_low {
        cpus = 2
        memory = 4.GB
        time = 4.h
    }
    
    withLabel: process_medium {
        cpus = 4
        memory = 8.GB
        time = 8.h
    }
    
    withLabel: process_high {
        cpus = 8
        memory = 16.GB
        time = 16.h
    }
    
    // Specific process requirements
    withName: BWA_MEM_ALIGN {
        cpus = 16
        memory = 32.GB
        time = 24.h
    }
    
    withName: MARK_DUPLICATES {
        cpus = 4
        memory = 16.GB
        time = 8.h
    }
    
    withName: HAPLOTYPE_CALLER {
        cpus = 8
        memory = 32.GB
        time = 48.h
    }
    
    withName: BASE_RECALIBRATOR {
        cpus = 4
        memory = 16.GB
        time = 12.h
    }
    
    withName: APPLY_BQSR {
        cpus = 4
        memory = 16.GB
        time = 12.h
    }
    
    // Container overrides to match WDL containers
    withName: BWA_MEM_ALIGN {
        container = 'australia-southeast1-docker.pkg.dev/pb-dev-312200/nagim-images/samtools-picard-bwa:1.0.0-0.7.15-2.23.8-1626449438'
    }
    withName: DRAGMAP_ALIGN {
        container = 'australia-southeast1-docker.pkg.dev/pb-dev-312200/nagim-images/dragmap:1.2.1'
    }
    withName: MARK_DUPLICATES {
        container = 'australia-southeast1-docker.pkg.dev/pb-dev-312200/nagim-images/picard-cloud:2.23.8'
    }
    withName: SORT_BAM {
        container = 'australia-southeast1-docker.pkg.dev/pb-dev-312200/nagim-images/samtools-picard-bwa:1.0.0-0.7.15-2.23.8-1626449438'
    }
    withName: BAM_TO_CRAM {
        container = 'australia-southeast1-docker.pkg.dev/pb-dev-312200/nagim-images/samtools-picard-bwa:1.0.0-0.7.15-2.23.8-1626449438'
    }
    withName: GATHER_BAM_FILES {
        container = 'australia-southeast1-docker.pkg.dev/pb-dev-312200/nagim-images/picard-cloud:2.23.8'
    }
    withName: BASE_RECALIBRATOR {
        container = 'australia-southeast1-docker.pkg.dev/pb-dev-312200/nagim-images/gatk:4.1.8.0'
    }
    withName: APPLY_BQSR {
        container = 'australia-southeast1-docker.pkg.dev/pb-dev-312200/nagim-images/gatk:4.1.8.0'
    }
    withName: HAPLOTYPE_CALLER {
        container = 'australia-southeast1-docker.pkg.dev/pb-dev-312200/nagim-images/gatk:4.2.2.0'
    }
    withName: VARIANT_FILTRATION {
        container = 'australia-southeast1-docker.pkg.dev/pb-dev-312200/nagim-images/gatk:4.1.8.0'
    }
    withName: COLLECT_WGS_METRICS {
        container = 'australia-southeast1-docker.pkg.dev/pb-dev-312200/nagim-images/picard-cloud:2.23.8'
    }
    withName: COLLECT_RAW_WGS_METRICS {
        container = 'australia-southeast1-docker.pkg.dev/pb-dev-312200/nagim-images/picard-cloud:2.23.8'
    }
    withName: CHECK_CONTAMINATION {
        container = 'australia-southeast1-docker.pkg.dev/pb-dev-312200/nagim-images/verify-bam-id:1.0.0-c1cba76e979904eb69c31520a0d7f5be63c72253-1626442707'
    }
    withName: AGGREGATED_BAM_QC {
        container = 'australia-southeast1-docker.pkg.dev/pb-dev-312200/nagim-images/picard-cloud:2.23.8'
    }
    withName: VALIDATE_SAM_FILE {
        container = 'australia-southeast1-docker.pkg.dev/pb-dev-312200/nagim-images/picard-cloud:2.23.8'
    }
}

// Executor configuration
executor {
    name = 'local'
    cpus = 16
    memory = '64 GB'
}

// Profiles for different execution environments
profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
    }
    
    singularity {
        singularity.enabled = true
        docker.enabled = false
        singularity.autoMounts = true
        singularity.cacheDir = params.singularity_cache_dir
    }
    
    conda {
        params.enable_conda = true
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
    }
    
    // High-performance computing profiles
    slurm {
        process {
            executor = 'slurm'
            queue = 'compute'
            clusterOptions = '--job-name=wgs-germline --partition=compute'
        }
        
        executor {
            name = 'slurm'
            queueSize = 100
            submitRateLimit = '10 sec'
        }
    }
    
    pbs {
        process {
            executor = 'pbs'
            queue = 'workq'
        }
        
        executor {
            name = 'pbs'
            queueSize = 100
            submitRateLimit = '10 sec'
        }
    }
    
    lsf {
        process {
            executor = 'lsf'
            queue = 'normal'
        }
        
        executor {
            name = 'lsf'
            queueSize = 100
            submitRateLimit = '10 sec'
        }
    }
    
    // Cloud profiles
    aws {
        process {
            executor = 'awsbatch'
            queue = 'nextflow-queue'
        }
        
        aws {
            batch {
                cliPath = '/home/ec2-user/miniconda/bin/aws'
            }
            region = 'us-east-1'
        }
    }
    
    gcp {
        process {
            executor = 'google-batch'
            machineType = 'n1-standard-4'
        }
        
        google {
            project = 'your-project-id'
            location = 'us-central1'
            batch {
                spot = true
            }
        }
    }
}

// Manifest
manifest {
    name = 'WholeGenomeGermlineSingleSampleFastq'
    author = 'Broad Institute WARP Team (Nextflow port)'
    homePage = 'https://github.com/broadinstitute/warp'
    description = 'Nextflow implementation of WARP WholeGenomeGermlineSingleSampleFastq pipeline'
    mainScript = 'WholeGenomeGermlineSingleSampleFastq.nf'
    nextflowVersion = '>=21.10.3'
    version = '1.0.0-nf'
}

// Function to ensure that resource requirements don't go beyond a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Report configuration
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}
